/* Swiper pagination bullets */
.swiper-pagination-bullet {
  background-color: #fca5a5; /* হালকা লাল */
  opacity: 0.5;
}

/* Active bullet */
.swiper-pagination-bullet-active {
  background-color: #e41818; /* গাঢ় লাল */
  opacity: 1;
}


.leaflet-container {
  z-index: 0 !important;
}
