@import "tailwindcss";
@plugin "daisyui";


@import "swiper/css";
@import "swiper/css/pagination";
@import "swiper/css/navigation";





.swiper-pagination-bullet-active {
  background-color: #e41818; 
  opacity: 1;
}

/* Swiper pagination bullets */
.swiper-pagination-bullet {
  background-color: #fca5a5; /* হালকা লাল */
  opacity: 0.5;
}

/* Active bullet */
.swiper-pagination-bullet-active {
  background-color: #e41818; /* গাঢ় লাল */
  opacity: 1;
}
